*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

:root {
  
  --primary-color: #6e63e6; 
  --secondary-color: #4b3bff; 
  --button-color: #FF33B3; 
  
}

body {
  background-color: var(--primary-color);
}
.rest-of-body {
  background-color: var(--primary-color);
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  
}

button {
  font-size: 30px; 
  margin: 10px; 
  padding: 2px; 
}

#clock-container {
  display: flex; 
  justify-content: flex-end;
  margin-right: 25px; 
  margin-top: 10px; 
  background-color: var(--primary-color); 
}

.container {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-bottom: 15%; 
  width: 40vw; 
  height: 40vh; 
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px black; 
}

#question {
  display: flex; 
  flex-wrap: wrap; 
  font-size: 24px; 
  margin: 5px 5px 15px 5px;  
}

.btn-answers {
  display: block; 
  font-size: 25px; 
  background-color: hsl(blue, 100%, 50%);
  box-shadow: 0 0 10px 2px black; 
  border-radius: 5px; 
  margin: 7px; 
}

.btn-answers button:hover{
  background-color: rgb(180, 207, 238); 
}
#start-btn {
  margin: auto; 
  font-size: 3rem; 
  border-radius: 5px;
  box-shadow: 0 0 10px 2px black; 
  padding: 5px; 
}

#start-btn:hover {
  background-color: rgb(198, 201, 199);
}

.controls {
  display: flex; 
  justify-content: center;
}

.hidden {
  display: none; 
}

#initials {
  font-size: 24px; 
  
}

.container-column {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  font-size: 25px; 
}
#back-home {
  margin-top: 30px; 
  font-size: 2rem; 
  border-radius: 5px;
  box-shadow: 0 0 10px 2px black; 
  padding: 5px; 
}
